<div class="row">
    <div class="col-8">
        <h2>Mini Statement</h2>
    </div>
    <div class="col-4 text-end">
        <button (click)="refresh()" [disabled]="isLoading" class="btn btn-primary">Refresh</button>
    </div>
</div>
<table class="table table-hover" style="min-height: 200px;">
    <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody id="miniStatement">
    <tbody>
        <ng-container *ngFor="let transaction of transactions; let i=index">
            <tr (click)="toggleRow(i)" [class.table-active]="expandedRow === i">
                <td>{{ transaction.dateCreated | date }}</td>
                <td
                    [ngClass]="{'text-success': transaction.transactionType === 'CREDIT', 'text-danger': transaction.transactionType === 'DEBIT'}">
                    {{ transaction.transactionAmount }}
                </td>
                <td
                    [ngClass]="{'text-success': (transaction.transactionType === 'CREDIT'), 'text-danger': (transaction.transactionType === 'DEBIT')}">
                    {{ getDetail(transaction) }}
                </td>
            </tr>
            <tr *ngIf="expandedRow === i">
                <td colspan="3">
                    <div class="p-3 bg-light border rounded">
                        <transaction-info [transferId]="transaction.uuid"></transaction-info>
                    </div>
                </td>
            </tr>
        </ng-container>

    </tbody>
</table>