<div class="container ">
    <div class="row mt-5">
        <div class="col-md-8">
            <h1>Hello, <span>{{userDetail?.userName}}</span>!</h1>
        </div>
        <div class="col-md-4 text-end">
            <button (click)="logOut()" class="btn btn-danger">Logout</button>
        </div>
    </div>

    <div class="row gy-2">
        <div class="col-md-12 text-center">
            <h3 class="balance"> Your Balance: Ksh. {{accountBalance}}</h3>
        </div>
    </div>

    <div class="row mt-4 gy-2">
        <div class="col-md-4">
            <button class="btn btn-primary w-100" (click)="openTransactionDialog('CREDIT')">Deposit</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-warning w-100" (click)="openTransactionDialog('DEBIT')">Withdraw</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success w-100" (click)="openTransferDialog()">Transfer</button>
        </div>
    </div>

    <div class="row gy-2">
        <div class="col-md-12">
            <mini-statement></mini-statement>
        </div>
    </div>
</div>