<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{dialogType == 'CREDIT' ? "Deposit": "Withdraw"}}</h5>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmitAmount()">
            <div class="mb-3">
                <label for="depositAmount" class="form-label">Amount</label>
                <input type="number" class="form-control" placeholder="Enter amount" name="firstName"
                    class="form-control" [(ngModel)]="amount">
            </div>
            <button [disabled]="isLoading && invalidAmount" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>