<div class="card">
    <div class="card-body">
        <h5 class="card-title">Transfer</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="formGroup">
            <div class="mb-3">
                <label for="recipientAccount" class="form-label">Recipient Account</label>
                <select formControlName="userId" class="form-select form-select-lg mb-3"
                    aria-label=".form-select-lg example">
                    <option selected>Select a recepient</option>
                    <option *ngFor="let s of suggestions" [value]="s.customerId">{{s.customerName}}</option>
                </select>

                <label for="depositAmount" class="form-label">Amount</label>
                <input type="number" class="form-control" placeholder="Enter amount" formControlName="amount">
            </div>
            <button [disabled]="formGroup.invalid || isLoading" type="submit" class="btn btn-primary"
                (click)="onSubmitAmount()">Submit</button>
        </form>
    </div>
</div>